:root {
    --white-color: #ffffff;
    --primary-color: #7367F0;
    --primary-rgb-color: 115, 103, 240;
    --secondary-color: #808390;
    --light-primary-color: #E5EDFF;
    --pagination-color: #CBD9FE;
    
    --green-color:#2e7d32;
    --green-rgb-color:46, 125, 50;
    --red-color:#d32f2f;
    --red-rgb-color:211, 47, 47;
    --yellow-color:#ff9f43;
    --yellow-rgb-color:237, 108, 2;
    --blue-color:#0288d1;
    --blue-rgb-color:2, 136, 209;


    --font-family: Montserrat;
}

[data-theme="light"] {
    --body-bg-color: #f8f7fa;
    --card-bg-color: #ffffff;
    --border-color: #e6e6e8;
    --text-color: #423f50;
    --text-rgb-color: 66, 63, 80;
    // --dark-color: #222222;
    // --grey-color: #717684;
    // --input-border-color: #F1F2F9;
    --input-border-rgb-color: 47, 43, 61;
    --menu-hover-color: #cfcde45e;
}

[data-theme="dark"] {
    --body-bg-color: #25293c;
    --card-bg-color: #2f3349;
    --border-color: #44485e;
    --text-color: #cfcce3;
    --text-rgb-color: 180, 180, 190;
    --input-border-rgb-color: 225, 222, 245;
    --menu-hover-color: #fdfdff1f;


}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: var(--menu-hover-color);
}

::-webkit-scrollbar
{
    width: 4px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--menu-hover-color);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--primary-color);
}
body {
    color: initial !important;
    background-color: var(--body-bg-color) !important;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-secondary {
    color: var(--text-color) !important;
}

.text-color {
    color: var(--text-color) !important;
}

.text-white {
    color: var(--white-color);
}

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content !important;
}

.h-full {
    height: 100%;
}

.no-scroll {
    overflow: hidden !important;
}

.nowrap {
    white-space: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.btn {
    &.primary-btn {
        background: var(--primary-color);
        color: var(--white-color);
        border-color: var(--primary-color);

        svg {
            width: 20px;
            height: 20px;
        }

        &:hover {
            background-color: var(--primary-color);
            box-shadow: 0px 2px 6px rgba(34, 34, 34, 0.2);
        }
    }

    &.secondary-btn {
        background: var(--secondary-color);
        color: var(--white-color);
        border-color: var(--secondary-color);

        svg {
            width: 20px;
            height: 20px;
        }

        &:hover {
            background-color: var(--secondary-color);
            box-shadow: 0px 2px 6px rgba(34, 34, 34, 0.2);
        }
    }

    &.text-btn {
        background: transparent;
        color: var(--dark-color);
        border: none;

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

.field-wrapper {
    position: relative;

    .field-label {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 135%;
        color: var(--text-color);

        .required {
            color: var(--red-color);
        }
    }
}

.checkbox-label {
    span {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 135%;
        color: var(--text-color);
    }
}
.quick-link{
    color: var(--primary-color) !important;
    font-weight: 600;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
.navigation-wrapper{
    position: relative;
    .nav-arrow{
        color: var(--text-color);
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color);
        border-radius: 4px;
        position: absolute;
        top: 50%;
        cursor: pointer;
        svg{
            font-size: 24px;
        }
        &.arrow-disabled{
            opacity: 0.5;
            pointer-events: none;
        }
        &.left{
            left: 0;
            transform: translateY(-50%);
        }
        &.right{
            right: 0;
            transform: translateY(-50%);
        }
    }
    .swiper-dots{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 4px;
        .dot{
            width: 8px;
            height: 8px;
            background-color: var(--primary-color);
            border-radius: 8px;
            transition: all 0.3s ease-in;
            opacity: 0.5;
            cursor: pointer;
            &.active{
                width: 20px;
                opacity: 1;
            }
        }
    }
}