.header-wrapper{
    background-color: var(--card-bg-color);
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    .left-header{
        .logo-text{
            color: var(--text-color);
            font-size: 22px;
        }
        .MuiButtonBase-root{
         color: var(--text-color);
        } 
    }
    .right-header{
        .MuiButtonBase-root{
         color: var(--text-color);
        } 
    }
}
.theme-changer{
   .MuiButtonBase-root{
    color: var(--text-color);
   } 
}
.sidebar-wrapper{
    background-color: var(--card-bg-color);
    position: fixed;
    top: 0; 
    left: 0;
    height: 100%;
    width: 250px;
    border-right: 1px solid var(--border-color);
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 1;
}
.sidebar-content{
    overflow-y: hidden;
    height: 100%;
    .logo-text{
        color: var(--text-color);
        font-size: 22px;
    }
    .MuiButtonBase-root{
        color: var(--text-color);
    } 
}
.menu-wrapper{
    &.top-menu{
        // height: calc(100vh - 144px);
        flex: 1;
        margin-top: 26px;
        overflow: auto;
        overflow-x: hidden;
    }
    .menu-item{
        &.open{
            .menu-label{
                background-color: var(--menu-hover-color);
            }
        }
        .menu-label{
            color: var(--text-color);
            padding: 8px 12px;
            cursor: pointer;
            border-radius: 8px;
            &.active{
                background-color: var(--primary-color);
                color: var(--white-color);
                &:hover{
                    background-color: var(--primary-color);
                    color: var(--white-color);
                }
            }
            svg{
                width: 20px;
                height: 20px;
                transition: 0.2s transform;

                &.rotate-90 {
                    transform: rotate(90deg);
                }
            }
            .menu-text{
                font-weight: 500;
                font-size: 16px;
            }
            &:hover{
                background-color: var(--menu-hover-color);
            }
        }
        .submenu-wrapper{
            padding: 8px 0;
            transition: all 0.3s ease-in;
            .submenu-item{
                position: relative;
                padding: 8px 12px 8px 36px;
                cursor: pointer;
                border-radius: 8px;
                font-weight: 500;
                font-size: 16px;
                color: var(--text-color);
                &.active{
                    background-color: var(--primary-color);
                    color: var(--white-color);
                    &:hover{
                        background-color: var(--primary-color);
                        color: var(--white-color);
                    }
                     &:before{
                        border: 2px solid var(--white-color);
                    }
                }
                &:hover{
                    background-color: var(--menu-hover-color);
                }
                &:before{
                    content: '';
                    width:6px;
                    min-width:6px;
                    height:6px;
                    border: 2px solid var(--text-color);
                    display: block;
                    border-radius: 10px;
                    position: absolute;
                    top: 50%;
                    left: 14px;
                    transform: translateY(-50%);
                }
            }
        }
        
    }
}
.content-wrapper{
    padding-top: 80px;
    padding-bottom: 16px;
    padding-right: 16px;
    transition: all 0.3s ease-in;
}

.page-title{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}
.mobile-sidebar{
    .MuiPaper-root{
        padding: 0;
        border-radius: 0 16px 16px 0;
    }
}
.icon-button{
    &.MuiButtonBase-root{
        color: var(--text-color);
    } 
}
.code-block{
    background-color: var(--body-bg-color);
    border-radius: 12px;
    padding: 0px;
    position: relative;
    pre{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        border-radius: 12px;
    }
}
.sidebar-backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 1198;
    background-color: rgba(0,0,0,0.4);
}

@media only screen and (max-width: 991.98px) {
  .sidebar-content{
    width: 250px;
  }
}

